DUCK_HOST=0.0.0.0
DUCK_PORT=11940
DUCK_SHARD=A
DUCK_NAME=Commander
DUCK_REGION=unknown
DUCK_MOTD=
DUCK_LOG_LEVEL=INFO
DUCK_MAX_CONNECTIONS=400
DUCK_MAX_CONN_PER_IP=6
DUCK_MAX_ROOMS=150
DUCK_MAX_PROBES=50
DUCK_HANDSHAKE_TIMEOUT=5
DUCK_FRAME_BODY_TIMEOUT=5
DUCK_IDLE_TIMEOUT=45
DUCK_RECONNECT_GRACE=90
DUCK_TURN_TIMER_S=0
DUCK_MAX_FRAME_C2S=65536
DUCK_MAX_FRAME_S2C=262144
DUCK_MESSAGE_RATE=20
DUCK_MESSAGE_BURST=40
